
  
  h1 ,h2, h4 , h3{
    text-align: center;
  }


  main
{
    font-family : sans-serif;
    direction   : ltr;
    text-align  : left;
    line-height : 18px;
    width: 100%;
    
}


#top
{
  margin-right: 10px;
    position    : relative;
}

#top_menu
{
    position         : relative;
    border-color     : #111A33;
    height           : 500px;
    padding          : 7px 5px;
    margin-bottom    : 7px;
    
}

.masthead {
  position: fixed;
  z-index: 99;
  margin-bottom: 100px;
  font-size: 20px;
  top: 0;
  height: 100%;
  margin-top: 10px;
  right: 10px;
 
}

  img ,  p{
  height: 128px;
  margin-left: 70px;
  text-align: center;
  color: #000;
}


.box-wrap{
  display:flex;
  align-items:center;
  justify-content:center;

 
}
.box{
  width: 110px;
  height: 150px;

}
.box-wrap:hover .box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
 
}
.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 200px 20px 0px rgba(0,0,0,0.01);
  
 
}


#about-image {
  float: left;
height: auto;
  width: 200px;
  margin: 0 20px 10px 0;
}
.block {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.block-header {
  color: #4aaaa5;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.container {
  border-radius: 8px;
  margin-top: 20px;
}
h4{
  margin-top: 100px;
}
@media only screen and (max-width: 768px) {
  
  main {
    overflow: auto;
  }
  .work:nth-child(odd) {
    float: right;
  }

  #about-image {
    width: 100%;
  }
  
}

