
  .color {
    position: relative;
    font-family: 'Poppins', sans-serif;
    width:97%;
    margin: auto;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-bottom: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 8px;
   background-image: url("https://github.com/tsjohns9/react-clicky-game/blob/master/src/images/bg.png?raw=true");
  }
h2, h3 {
  color: aliceblue;
  padding:  10px;
}
  .text-lift {
    color: aliceblue;
    font-size: large;
    text-transform: uppercase;
    padding: 20px;
  }




